#login_form{
    display: flex;
    justify-content: center;
}
#login_form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    padding: 20px 20px 40px;

}
input{
    width: 300px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 20px;
}
button{
    width: 150px;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 20px;

}